#container {
    overflow: hidden;
    background-color: #cecece;
    border: 2px solid #000;
}
#header {
    width: 100%;
    height: 40px;
    text-align: center;
}
#restart {
    background-color: yellow;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-image: url('https://minesweeper.online/img/skins/hd/face_unpressed.svg?v=2');
    cursor: pointer;
}
#restart:hover {
    opacity: 0.7;
}
#playground {
    width: 100%;
}
.cell {
    float: left;
    width: 20px;
    height: 20px;
    background: aliceblue;
    border: 1px solid #828282;
    background-size: contain;
    text-align: center;
    font-weight: bold;
    background-image: url('https://minesweeper.online/img/skins/hd/closed.svg?v=2')
}
.open {
    background-image: url('https://minesweeper.online/img/skins/hd/type0.svg?v=2');
}
.flag {
    background-image: url('https://minesweeper.online/img/skins/hd/flag.svg?v=2');
}
.bomb {
    background-image: url('https://minesweeper.online/img/skins/hd/mine.svg?v=2');
}
.exploded {
    background-image: url('https://minesweeper.online/img/skins/hd/mine_red.svg?v=2');
}
